[defaults]
library = ./plugins/modules
module_utils = ./plugins/module_utils
callbacks_enabled = monkeyble_callback
callback_plugins = ./plugins/callback
; jinja2_native not available in ansible 2.9, but is in ansible 2.10 and later. Uncomment the line below if using ansible 2.10 or later.
;jinja2_native = True
;debug = true
